.mainContainer {
  background-color: var(--white);
  border-radius: 6px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  width: 400px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
}

.genre {
  color: var(--navy);
  height: 3rem;
}

.binding {
  font-weight: 600;
  color: var(--grey);
  font-family: 'Geologica', sans-serif;
  height: 2rem;
}

.description {
  color: var(--black);
  width: 80%;
  font-size: 1rem;
  margin: 10px;
  height: fit-content;
}

.price {
  font-weight: 400;
  text-align: center;
  color: var(--teal);
  font-size: 1.2rem;
  font-family: 'Days One', sans-serif;
  height: 2rem;
}

.addButton {
  background-color: var(--peach);
  padding: 10px 0px;
  width: 75%;
  text-align: center;
  border-radius: 100px;
  color: white;
  font-size: 1.2rem;
  font-weight: 400;
  font-family: 'Days One', sans-serif;
  transition:
    filter 0.1s ease,
    transform 0.1s cubic-bezier(0.23, 1, 0.32, 1);
  will-change: transform;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.addButton:hover {
  filter: brightness(1.05);
  transform: scale(1.005);
}

.addButton:active {
  transform: scale(0.99);
}

.counter {
  margin: 20px;
}

@media (max-width: 768px) {
  .mainContainer {
    padding: 20px;
  }
  .genre {
    height: 1.75rem;
    font-size: 1.2rem;
  }
  .binding {
    height: 1rem;
    font-size: 0.9rem;
  }
  .price {
    height: 1.5rem;
    margin-left: 40px;
    font-size: 1.1rem;
  }
  .counter {
    transform: scale(0.7);
  }
  .priceAndCounterContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: -15px;
  }
  .addButton {
    font-size: 1.2rem;
    padding: 5px;
  }
}
