.container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.number {
  width: 20px;
  text-align: center;
  font-weight: 800;
  color: var(--black);
  font-size: 1.1rem;
  font-family: 'Geologica', sans-serif;
}

.plus,
.minus {
  border-radius: 50%;
  width: 35px;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.minus {
  background-color: var(--silver);
}

.plus {
  background-color: var(--grey);
}
