.homeContainer {
  width: 100vw;
  height: calc(100vh - 75px);
  position: relative;
}

.booksImg {
  position: absolute;
  width: 450px;
  aspect-ratio: 1;
  left: 35%;
  transform: translate(-50%, -50%);
  top: 45%;
  z-index: 2;
}
