.shopContainer {
  width: 100vw;
  min-height: calc(100vh - 75px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 40px 10% 40px 10%;
  position: relative;
  z-index: 5;
}

@media (max-width: 1024px) {
  .shopContainer {
    flex-direction: column;
  }
}
