.shopContainer {
  width: 100vw;
  min-height: calc(100vh - 75px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 40px 5% 40px 5%;
  position: relative;
  z-index: 5;
}
