.mainContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0px;
}

.carousel {
  width: clamp(200px, 30vw, 400px);
  height: 400px;
  display: flex;
  align-items: center;
  overflow: hidden;
  display: flex;
  justify-content: center;
  mask-image: linear-gradient(
    to right,
    transparent 0%,
    black 35%,
    black 65%,
    transparent 100%
  );
  -webkit-mask-image: linear-gradient(
    to right,
    transparent 0%,
    black 35%,
    black 65%,
    transparent 100%
  );
}

.arrow {
  color: var(--white);
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.3));
  margin: 30px;
}

.bookContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  transform-style: preserve-3d;
}

.bookContainer.focused {
  transform: translate3d(0px, 0px, 300px);
  margin: 0px 20px;
}

.book {
  height: 300px;
  transform: translate3d(0px, 0px, 0px) scale(0.7);
  opacity: 0.5;
  transition:
    transform 0.6s cubic-bezier(0.25, 1, 0.5, 1),
    opacity 0.3s ease;
}

.book.focused {
  animation: floatUpDown 1s ease-in-out infinite alternate;
  opacity: 1;
  z-index: 99;
}

@keyframes floatUpDown {
  0% {
    transform: translate3d(0px, 0px, 0px) scale(1);
  }
  100% {
    transform: translate3d(0px, -20px, 0px) scale(1);
  }
}

.slide {
  display: flex;
  flex-direction: row;
  perspective: 4000px;
  perspective-origin: 50% 0%;
  transition: transform 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

.shadow {
  background-color: var(--navy);
  height: 50px;
  filter: blur(6px);
  opacity: 0;
  transform: scale(1) translateZ(-2px) rotateX(90deg);
  transition: opacity 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

.shadow.focused {
  animation: changeUpDown 1s ease-in-out infinite alternate;
  width: 50px;
}

@keyframes changeUpDown {
  0% {
    opacity: 1;
    transform: scale(1.2) rotateX(90deg);
  }
  100% {
    opacity: 0.5;
    transform: scale(0.9) rotateX(90deg);
  }
}
