.modalContainer {
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 10;
}

.modal {
  opacity: 0;
  position: relative;
  margin-left: auto;
  transform: translateX(100%);
  transition: transform 0.3s ease;
  background-color: var(--white);
  height: 100vh;
  width: 500px;
  padding: 60px;
  gap: 25px;
  box-shadow: 10px 0px 10px rgba(0, 0, 0, 0.1);
  z-index: 8;
}

.dark {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--navy);
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 7;
}

.modalVisible {
  opacity: 1;
  pointer-events: auto;
  transform: translateX(0);
}

.darkVisible {
  opacity: 0.4;
}

.x {
  position: absolute;
  cursor: pointer;
  top: 20px;
  right: 40px;
  opacity: 0;
  color: var(--black);
}

.xVisible {
  opacity: 1;
  pointer-events: auto;
}

.header {
  color: var(--navy);
}

.totalItems {
  margin-top: 10px;
  font-weight: 600;
  color: var(--grey);
  font-family: 'Geologica', sans-serif;
}

.itemContainer {
  border-radius: 20px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  margin: 16px;
}

.bookIcon {
  width: 50px;
}

.iconSection {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.subText {
  font-weight: 600;
  color: var(--grey);
  font-family: 'Geologica', sans-serif;
  font-size: 0.8rem;
}

.keyText {
  font-weight: 400;
  font-size: 1.5;
  font-family: 'Days One', sans-serif;
  color: var(--navy);
}

.price {
  font-weight: 400;
  font-size: 0.8;
  font-family: 'Days One', sans-serif;
  color: var(--teal);
}

.countSection {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .modal {
    width: 450px;
  }
}
