.modalContainer {
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 10;
}

.modal {
  opacity: 0;
  position: relative;
  margin-left: auto;
  transform: translateX(100%);
  transition: transform 0.3s ease;
  background-color: var(--white);
  height: 100vh;
  width: 500px;
  padding: 60px;
  gap: 25px;
  box-shadow: 10px 0px 10px rgba(0, 0, 0, 0.1);
  z-index: 8;
}

.dark {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--navy);
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 7;
}

.modalVisible {
  opacity: 1;
  pointer-events: auto;
  transform: translateX(0);
}

.darkVisible {
  opacity: 0.4;
}

.x {
  position: absolute;
  cursor: pointer;
  top: 20px;
  right: 40px;
  opacity: 0;
  color: var(--black);
}

.xVisible {
  opacity: 1;
  pointer-events: auto;
}

.header {
  color: var(--navy);
}

.totalItems {
  margin-top: 10px;
  font-weight: 600;
  color: var(--grey);
  font-family: 'Geologica', sans-serif;
}

@media (max-width: 768px) {
  .modal {
    width: 450px;
  }
}
