* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

:root {
  --white: #ffffff;
  --vanilla: #f9e5b4;
  --navy: #515e9a;
  --teal: #45bace;
  --grey: #b6b6b6;
  --silver: #e0dede;
  --black: #000000;
  --peach: #d4755a;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  all: unset;
}

button {
  all: unset;
  display: inline-block;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: clamp(2rem, 2.3vw + 1.3rem, 2.6rem);
  font-weight: 400;
  font-family: 'Days One', sans-serif;
}

h2 {
  font-size: clamp(1rem, 1.5vw + 1.15rem, 2rem);
  font-weight: 400;
  font-family: 'Days One', sans-serif;
}

p {
  font-size: clamp(1rem, 0.7vw + 0.9rem, 1.4rem);
  font-weight: 400;
  font-family: 'Geologica', sans-serif;
}
