.navBar {
  padding: 0px 60px;
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoSection {
  display: flex;
  gap: 16px;
}

.linkSection {
  display: flex;
  gap: 60px;
}

.logoVector {
  width: 70px;
}

.logoText {
  font-size: 2rem;
  font-weight: 400;
  font-family: 'Instrument Serif', serif;
}

.navText {
  font-family: 'Geologica', sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
}
