.navBar {
  padding: 0px 80px 0px 80px;
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  transition: padding 0.3s ease;
}

.navBar.hasItems {
  padding: 0px 100px 0px 80px;
}

.linkSection {
  display: flex;
  gap: 60px;
}

.navText {
  display: inline-block;
  font-family: 'Geologica', sans-serif;
  font-size: 1.3rem;
  font-weight: 500;
  color: var(--navy);
  transition: transform 0.1s cubic-bezier(0.25, 1, 0.5, 1);
  will-change: transform;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navText:hover {
  filter: brightness(1.1);
}

.navText:active {
  transform: scale(0.95);
}

.menuIcon {
  stroke: var(--navy);
}

.cartContainer {
  position: relative;
  transition: transform 0.1s cubic-bezier(0.23, 1, 0.32, 1);
}

.cartIcon:hover {
  filter: brightness(1.1);
  transform: scale(1.05);
}

.cartIcon:active {
  transform: scale(0.98);
}

.cartIcon {
  stroke: var(--navy);
}

.cartTotal {
  position: absolute;
  right: -30px;
  bottom: 2px;
  transform: translateX(100%);
  background-color: var(--peach);
  color: var(--white);
  width: 25px;
  aspect-ratio: 1;
  border-radius: 50%;
  font-size: 0.9rem;
  font-weight: 400;
  font-family: 'Geologica', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transform: scale(0.5);
  transition:
    transform 0.3s ease,
    opacity 0.3s ease;
  will-change: transform;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cartTotal.hasItems {
  opacity: 1;
  transform: scale(1);
}

.cartTotal:hover {
  transform: scale(1.05);
}

.cartTotal:active {
  transform: scale(0.98);
}

@media (max-width: 768px) {
  .navBar {
    padding: 0px 20px 0px 20px;
  }

  .navBar.hasItems {
    padding: 0px 40px 0px 20px;
  }
}
