.navBar {
  padding: 0px 60px;
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.linkSection {
  display: flex;
  gap: 60px;
}

.navText {
  font-family: 'Geologica', sans-serif;
  font-size: 1.3rem;
  font-weight: 500;
  color: var(--navy);
}

.cartIcon {
  stroke: var(--navy);
}

.menuIcon {
  stroke: var(--navy);
}
